#elements{
        /* position: absolute;
        top: 30%;
        left: 50%;
        /* bring your own prefixes */
        /* transform: translate(-50%, -50%); */ 
        /* margin-top: 10%;
        margin-left: 25%;
        margin-right:25%; */
  }

  body{
        background-color:rgb(250, 68, 61);
  }

  #title{
        background-color: rgb(207, 252, 9);
        margin-bottom: 0%;
        text-align:center;

      
  }

  #timer{
      background-color: rgb(247, 168, 65);
      margin-bottom: 0%;
      padding-top: 1%;
      padding-bottom:1%;
      text-align:center;
  }

  .results{
      background-color: rgb(250, 68, 61);
      color: white;
      padding-top: 2%;
      text-align:center;
  }

  #stats{
        background-color: rgb(73, 73, 247);
        color:white;
        padding-top: 2%;
        text-align:center;
  }

  button{
      margin-bottom: 3%;
      margin-top: 3%; 
     
  }

.start{
text-align: center;
margin-bottom: 0%;
padding-top: 0%;
padding-bottom:0%;
background-color: rgb(250, 68, 61);
  }

  #correct-stats, #incorrect-stats, #unanswered-stats,#result,#question{
        font-weight: bold;
  }

  #question{
      margin-right: 3%;
      margin-left: 3%;
  }
